@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

:root {
	--interaction-background: linear-gradient(96.68deg, rgba(255, 119, 119, 0) 0%, rgba(255, 119, 119, 0.6) 100%), #FF4444;
	--interaction-background-light: #F9D9D9;
	--interaction-text: #FF4444;
	--primary-color: #251F43;
	--primary-light: #8E9EC6;
	--background-light: #DEE3EE;
}

html, body {
	position: relative;
	background-color: #F8F8F8;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--primary-color);
	margin: 0;
	height: 100vh;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h2 {
	color: var(--interaction-text);
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
	margin-bottom: 4px;
	text-transform: uppercase;
	color: #8E9EC6;
	font-weight: 600;
	letter-spacing: 1.6px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

.btn {
	padding: 16px;
	border-radius: 4px;
	font-size: 12px;
	border: 0;
	outline: none;
	background: var(--interaction-background);
	color: white;
	text-align: center;
}

.btn.secundary {
	color: var(--interaction-text);
	background: #fff;
	font-weight: 600;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
	box-shadow: none;
	outline: none;
}
