<script>
  import RivalSelect from './RivalSelect.svelte';
  import ScoreSelect from './ScoreSelect.svelte';
  import { players } from '../store/players';
  import { fly, slide } from 'svelte/transition';
  import { user } from '../store/user';
  import { isModalOpen } from '../store/layout';
  import { calcChanceOfWinning, calcNewPointsAmount } from '../helpers/pointsCalculation';
  import { reset, saveScores } from '../firebase/scores.js';

  let picked;
  
  let rivalSelected = false;
  let isResetable = false;
  let selectedScore;
  let emptyRival = { score: 0, nickName: 'Select rival', photoURL: ''};
  let selectedRival = JSON.parse(JSON.stringify(emptyRival));
  
  
  const previousScores = {
    user: {},
    rival: {},
  }

  function emptyRivalSelection() {
    selectedRival = JSON.parse(JSON.stringify(emptyRival));
    rivalSelected = false;
  }

  function exitNewMatch() {
    $isModalOpen = false;
    selectedScore = null;
    emptyRivalSelection();
  }

  function selectRival(player) {
    selectedRival = player.detail;
    rivalSelected = true;
  }

  function save(winner, loser, winningPercentage) {
    winner.uid === user.uid
    ? setInitialScores(winner, loser)
    : setInitialScores(loser, winner);

    saveScores(winner, loser, winningPercentage, $user)
    exitNewMatch();
  }

  function setInitialScores(winner, loser) {
    if (winner.uid === $user.uid) {
      previousScores.user = JSON.parse(JSON.stringify(winner))
      previousScores.rival = JSON.parse(JSON.stringify(loser))  
    } else {
      previousScores.user = JSON.parse(JSON.stringify(loser))
      previousScores.rival = JSON.parse(JSON.stringify(winner))
    }
    isResetable = true;
  }

</script>

{#if !$isModalOpen}
  <button class="primary" on:click={() => $isModalOpen = true}>New match</button>
  {#if isResetable}
    <button on:click={() => {reset($user, previousScores); isResetable = false }}>
        Undo score
    </button>
  {/if}
{:else}
  <div class="new-match" 
    transition:fly={{ y: 400, duration: 300 }}
  >
    <div class="top">
      <button class="close" on:click={() => exitNewMatch()}>X</button><h2>Select new match</h2>
    </div>
    <div class="matchup">
      <section class="you">
        <div class="profile-picture" style="background-image: url({$user.photoURL})" alt=""></div>
        <h3>{$user.nickName}</h3>
        <span>{$user.score}</span>
      </section> 
      <span class="vs">vs</span> 
      <section class="rival" on:click={() => emptyRivalSelection()}>
        <div class="profile-picture" style="background-image: url({selectedRival.photoURL})" alt=""></div>
        <h3>{selectedRival.nickName}</h3>
        <span>{selectedRival.score}</span>
      </section>
    </div>
    {#if rivalSelected}
      <div class="score-selection" transition:slide={{duration: 400}}>
        <ScoreSelect rival="{selectedRival}" on:score-selected={(event) => selectedScore = event.detail }/>
        <button class="btn { selectedScore ? '' : 'inactive' }" on:click="{() => {
          if (selectedScore) {
            const { winner, loser, score } = selectedScore;
            return save(winner, loser, score);
          }
        }}">Add this match</button>
      </div>
    {:else}
      <h4>Select opponent</h4>
      <RivalSelect on:rivalSelect="{selectRival}"/>
    {/if}
  </div>
{/if}

<style>
.top {
  display: flex;
}

.new-match {
  padding: 24px;
  background-color: #F8F8F8;
  z-index: 200;
  position: relative;
  height: 100vh;
}
span.vs {
  margin: 0 24px 0 24px;
  font-size: 16px;
}
.matchup {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  background-color: white;
}

.matchup:after, .matchup:before {
  display: block;
  z-index: 0;
  content: '';
  height: 110px; width: 48px;
  top: -2px;
  position: absolute;

}

.matchup:before {
  left: -12px;
  transform: rotate(-13deg);
  background: var(--interaction-background);
}

.matchup:after {
  right: -12px;
  transform: rotate(13deg);
  background: var(--background-light);
}

.matchup section {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.matchup h3 {
  height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  padding-top: 8px;
  overflow: hidden;
}

.matchup .you {
  align-content: flex-start;
  padding-left: 48px;
}

.matchup .rival {
  align-content: flex-end;
  text-align: right;
  padding-right: 48px;
}

.matchup .profile-picture {
  position: absolute;
  display: block;
  content: '';
  background-size: cover;
  background-color: #eee;
  z-index: 1;
  border-radius: 16px;
  width: 32px; height: 32px;
  top: 16px;
}
.rival .profile-picture { right: 16px; }
.you .profile-picture { left: 16px; }

button.close {
  border: 0;
  padding: 0;
  margin-right: 16px;
  font-size: 24px;
  font-weight:800;
  background: none;
  color: var(--interaction-text);
}

.btn {
  width: 100%;
  transition: opacity .3s;
}

.secundary:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), linear-gradient(93.26deg, rgba(255, 119, 119, 0) 0%, rgba(255, 119, 119, 0.6) 100%), #FF4444;
}

.btn.inactive {
  opacity: .4;
}
</style>