<script>
    import { user } from '../store/user.js';
</script>

<h3>Hi { $user.nickName }!</h3>
<!-- <img src={ $user.photoURL } width="100" alt="user avatar">
<p>Your userID is { $user.uid }</p> -->