<script>
  import { players } from '../store/players';
  import { user } from '../store/user';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();
  
  $: selectableRivals = $players.filter(rival => rival.uid !== $user.uid).sort((a, b) => {
    const nameA = a.nickName.toUpperCase(); // ignore upper and lowercase
    const nameB = b.nickName.toUpperCase(); // ignore upper and lowercase
    if (nameA < nameB) {
      return -1;
    }
    if (nameA > nameB) {
      return 1;
    }
    return 0;
  })
</script>

{#each selectableRivals as player}
  <div class="player" on:click={() => dispatch('rivalSelect', player)}>
    <div class="picture-mask">
      <img src={player.photoURL} alt={`profile picture ${player.nickName}`}>
    </div>
    <h3>{player.nickName}</h3>
    <span>{player.score}</span>
  </div>
{/each}

<style>
img {
    height: 100%;
  }

.picture-mask {
  overflow: hidden;
  flex: 0 0 32px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 16px;
  z-index: 1;
}

h3 {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin-bottom: 4px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}

.player:before {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    left: -15px;
    height: 80px;
    width: 40px;
    transform: rotate(-12deg);
    background: var(--background-light);
  }
</style>