<script>
  import { user } from '../store/user';
  import { createEventDispatcher } from 'svelte';
  export let picked = {};
  export let rival;

  const dispatch = createEventDispatcher();

  const scores = [
    { value: '3 - 0', key: 'threeZero'},
    { value: '2 - 1', key: 'twoOne'},
    { value: '1 - 2', key: 'oneTwo'},
    { value: '0 - 3', key: 'zeroThree'},
  ]
  const scoreOptions = {
    threeZero:  { winner: $user, loser: rival, score: 1 },
    twoOne:     { winner: $user, loser: rival, score: 0.66 },
    oneTwo:     { winner: rival, loser: $user, score: 0.66 },
    zeroThree:  { winner: rival, loser: $user, score: 1 },
  }
</script>

<div class="score-selection">
  <h4>Match result</h4>
  <section>
    <form-group on:change="{(event) => { dispatch('score-selected', scoreOptions[event.target.value]) }}">
      {#each scores as input, index}
        <input type="radio" id="{`radio-${index}`}" value="{input.key}" bind:group="{picked}">
        <label class="btn secundary" for="{`radio-${index}`}">{input.value}</label>  
      {/each}
    </form-group>
  </section>
</div>

<style>
  input[type=radio] {
    position: absolute;
    opacity: 0;
  }

  input[type=radio]:checked + .btn {
    background-color: var(--interaction-background-light);
  }

  form-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
    margin-bottom: 16px;
  }
</style>
