<script>
import { db } from '../firebase';
import { players } from '../store/players';
import { user } from '../store/user';

import { tweened } from 'svelte/motion';
import { cubicOut } from 'svelte/easing';
import { flip } from 'svelte/animate';

$: animatablePlayersList = $players;

let playerScores = [];
let animatableScore = tweened(playerScores);
const scoreAnimationOptions = { duration: 800, easing: cubicOut };

db.collection('players').orderBy('score', 'desc')
  .onSnapshot((doc) => {
    $players = doc.docs.map(player => player.data());
    if($players.length !== playerScores.length) {
      playerScores = $players.map(player => player.score)
      animatableScore = tweened(playerScores, scoreAnimationOptions);
    };
    return animatableScore.set($players.map(player => player.score));
  });
</script>

<div class="score-board">
  <h4>Scoreboard</h4>
  {#if $players}
    {#each animatablePlayersList as player, index (player.uid)}
      <div 
        class="player"
				animate:flip={{delay: 100}}
        style="z-index: {$players.length - index}"
      >
        <div class="picture-mask">
          <img src={player.photoURL} alt={`profile picture ${player.nickName}`}>
        </div>
        <h3>{player.nickName}</h3>
        <span class="score">{Math.round($animatableScore[index])}</span>
        <div class="number" id={`number-${index + 1}`}><span>{index + 1}</span></div>
      </div>
    {/each}
  {/if}
</div>

<style>
  img {
    height: 100%;
  }

  .number {
    margin-right: 16px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 40px;
  }

  .number span {
    width: 100%;
    position: absolute;
    font-weight: 400;
    left: 0;
    color: var(--primary-light);
    text-align: center;
    z-index: 1;
    line-height: 48px;
  }

  .number:before {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    left: -22px;
    height: 80px;
    width: 80px;
    transform: rotate(-12deg);
    background: var(--background-light);
  }

  .picture-mask {
    overflow: hidden;
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
    margin-left: 24px;
    border-radius: 28px;
    margin-right: 16px;
    z-index: 1;
  }

  h3 {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .score {
    font-weight: 400;
    font-size: 16px;
    margin-left: 8px;
  }
  
  .score-board {
    padding: 16px;
  }

  .player {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 4px;
  }

  #number-1 span, #number-2 span, #number-3 span {
    color: white;
  }

  #number-1:before {
    background: linear-gradient(49.9deg, #EBD197 0%, rgba(235, 209, 151, 0) 100%), #A2790D;
  }

  #number-2:before {
    background: linear-gradient(50.39deg, #BEC0C2 0%, rgba(190, 192, 194, 0) 100%), #A1A2A3;
  }

  #number-3:before {
    background: linear-gradient(50.39deg, #B06C57 0%, rgba(176, 108, 87, 0) 100%), #9C5A3C;
  }

  
</style>