<script>
	import Profile from './Profile.svelte';
	import { user, userExists } from '../store/user.js';
  import { db, auth, googleProvider } from '../firebase';
  import { authState } from 'rxfire/auth';
	
  const unsubscribe = authState(auth).subscribe(u => {
		if(u) {
			setPlayer(u);
		}
	});

	function login() {
		auth.signInWithPopup(googleProvider).then((cred) => {
			db.collection('players').doc(cred.user.uid).get().then((doc) => {
				if(doc.exists) {
					console.log('user logged in');
				} else {
					db.collection('players').doc(cred.user.uid).set({
						nickName: cred.user.displayName,
						score: 1000,
						uid: cred.user.uid,
						photoURL: cred.user.photoURL,
						matchesPlayed: 0,
					});
				}
			});	
		});
	}

	function setPlayer(u) {
		db.collection('players').doc(u.uid).get().then((p) => {
			if(p.exists) {
				$user = p.data()
				$userExists = true;
			}
		})
	}

	function signOut() {
		auth.signOut();
		$userExists = false;
	}
</script>


<section>
	{#if $userExists}
		<Profile/>
		<button on:click={ () => signOut() }>Logout</button>
	{:else}
		<button on:click={login}>
				Signin with Google
		</button>
	{/if}
</section>
<hr>

<style>
	section {
		padding: 24px;
	}
</style>