<script>
	import SignIn from './components/SignIn.svelte';
	import ScoreBoard from './components/ScoreBoard.svelte';
	import NewMatch from './components/NewMatch.svelte';
	import { userExists } from './store/user';
	import { db } from './firebase';
	import { collectionData } from 'rxfire/firestore';
</script>

<SignIn />
{#if $userExists}
	<ScoreBoard />
	<div class="new-match-modal">
		<NewMatch/>
	</div>
{/if}


<style>
	.new-match-modal {
		width: 100%;
		position: absolute;
		top: 0;
	}
</style>